<p id="notice"><%= notice %></p>

<h1>Cli Sistemas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Tipo</th>
      <th>Domicilio</th>
      <th>RFC</th>
      <th>Representante Legal</th>
      <th>CP</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>CURP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cli_sistemas.each do |cli_sistema| %>
      <tr>
        <td><%= cli_sistema.name %></td>
        <td><%= cli_sistema.user %></td>
        <td><%= cli_sistema.tipo %></td>
        <td><%= cli_sistema.domicilio %></td>
        <td><%= cli_sistema.RFC %></td>
        <td><%= cli_sistema.representante %></td>
        <td><%= cli_sistema.CP %></td>
        <td><%= cli_sistema.phone %></td>
        <td><%= cli_sistema.email %></td>
        <td><%= cli_sistema.CURP %></td>
        <td><%= link_to 'Ver', cli_sistema %></td>
        <td><%= link_to 'Editar', edit_cli_sistema_path(cli_sistema) %></td>
        <td><%= link_to 'Borrar', cli_sistema, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cli Sistema', new_cli_sistema_path %>
