<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cli_sistema.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @cli_sistema.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cli_sistema.password %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cli_sistema.tipo %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @cli_sistema.domicilio %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cli_sistema.RFC %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @cli_sistema.representante %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @cli_sistema.CP %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cli_sistema.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cli_sistema.email %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @cli_sistema.CURP %>
</p>

<%= link_to 'Edit', edit_cli_sistema_path(@cli_sistema) %> |
<%= link_to 'Back', cli_sistemas_path %>
